# <center>June-19 Heading format

### cntrl+enter to run

### Program to find the sum of two numbers

In [2]:
a=int(input())
b=int(input())

2
4

In [3]:
print(a+b)

6

### Program to check whether odd or even

In [4]:
a=int(input())
if a%2==0:
    print("Even")
else:
    print("Odd")

192000029
Odd

### Program to convert celsius to Fahrenheit

In [8]:
a=float(input())
print("Fahrenheit ="+str((a*1.8)+32))

360
Fahrenheit =680.0

### Program to find the largest among three numbers

In [7]:
a,b,c=map(int,input().split())
if a>b and a>c:
    print(str(a)+" is greater")
elif b>a and b>c:
    print(str(b)+" is greater")
else:
    print(str(c)+" is greater")

4 35 5
35 is greater

### Program to print the Fibonacci sequence up to a given number

In [15]:
a=int(input())
b=[0,1]
total,i=0,0
while i<a:
    total=b[i]+b[i+1]
    b.append(total)
    i=i+1
print(b)

5
[0, 1, 1, 2, 3, 5, 8]

### Program to find the factorial of a given number

In [18]:
a=int(input())
b=1
for i in range(1,a+1):
    b=b*i
print(b)

3
6

### Program to check whether a given string is palindrome or not

In [20]:
a=input()
if(a==a[::-1]):
    print("Palindrome")
else:
    print("Not a palindrome")

acret
Not a palindrome

### Program to count the vowels in a given string

In [26]:
a=input()
b=["a","e","i","o","u"]
a=a.lower()
c=0
for i in a:
    if i in b:
        c=c+1
print(c)

AeiuoaEIOU
10

### Program to print multiplication table of a given number

In [65]:
a=int(input())
for i in range(1,11):
    print(str(a)+"*"+str(i)+"="+str(a*i))

5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

### Heading as comments from here

In [66]:
#List reverse 
a=[1,2,3,4,5]
for i in range(len(a)-1,-1,-1):
    print(a[i])

5
4
3
2
1

In [46]:
#print odd using even list
l=[]
for i in range(2,21,2):
    l.append(i)
''''print(*l)
for i in l:
    print(i+1)'''
c= [i+1 for i in l]
print(c)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [56]:
#pattern
for i in range(0,5):
    print(i*"* ")

*
* *
* * *
* * * *

In [59]:
#even and positive
a=int(input())
print("True" if a%2==0 and a>0 else "False")

90
True

In [63]:
#grade
marks=int(input())
if(marks>=90):
    print("Congratulations!your grade is A")
elif(marks<=89 and marks>80):
    print("Congratulations!your grade is B")
elif(marks<=79 and marks>70):
    print("Congratulations!your grade is C")
elif(marks<=69 and marks>55):
    print("Congratulations!your grade is D")
else:
    print("You have failed in this course !try again")

90
Congratulations!your grade is A

In [62]:
#leap and century year
year=int(input())
if(year%4==0 and year%100==0 and year%400==0):
    print("Year is Leap and Century year")
elif(year%4==0 and year%100!=0):
    print("Year is leap year but not a century year")
elif(year%4!=0 and year%100==0):
    print("Year is not a leap year but a century year")
else:
    print("Year is neither a leap year nor a century year")

2014
Year is neither a leap year nor a century year

In [72]:
#Gender and Age
age,gender=map(str,input().split())
age=int(age)
gender=gender.lower()
if(gender=="male"):
    if(age<18):
        print("You are a boy")
    elif(30>age>=18):
        print("You are a young man")
    elif(50>age>=30):
        print("You are a man in your prime")
    else:
        print("You are a wise old man")
else:
    if(age<18):
        print("You are a girl")
    elif(30>age>=18):
        print("You are a young woman")
    elif(50>age>=30):
        print("You are a woman in your prime")
    else:
        print("You are a wise old woman")

23 female
You are a young woman

In [73]:
# 3 fizz 5 buzz 3-5 FizzBuzz or number
for i in range(1,51):
    if(i%3==0 and i%5!=0):
        print("Fizz",end=' ')
    elif(i%3!=0 and i%5==0):
        print("Buzz",end=' ')
    elif(i%3==0 and i%5==0):
        print("FizzBuzz",end=' ')
    else:
        print(i,end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz

In [88]:
#check if first letter is 'D'
list1=['Delhi','Kolkata','Dehradun','Bangalore','Hyderabad','Denver']
print(*[i for i in list1 if i[0]=="D"])

Delhi Dehradun Denver

# <center>June -20  Functions

In [3]:
#function
def sum(a,b):
    return a+b

In [4]:
sum(4,5)

9

In [9]:
#nested function without calling the inner function inside the outer function 
def outerfunction():
    print("Outer function")
    def innerfunction():
        print("Inner function")
    print("Outside outer function")

In [11]:
outerfunction()

Outer function
Outside outer function

In [7]:
#nested function by calling the inner function inside the outer function 
def outerfunction():
    print("Outer function")
    def innerfunction():
        print("Inner function")
    innerfunction()
    print("Outside outer function")

In [8]:
outerfunction()

Outer function
Inner function
Outside outer function

### types of arguments : Positional and keyword arguments
###Functions can called only by values not references
###if number of parameters not known , we use *args (its a positional argument)
###if number of parameters not known , we use **kwargs(its a keyword argument)

In [12]:
# function with unknown positional arguments

def println(*args):
    for var in args:
        print(var)

In [14]:
println(1,3,24,"strin")

1
3
24
strin

In [20]:
# function with unknown keyword arguments

def print1(**kwargs):
    for name,value in kwargs.items():
        print(name,value)
    print(type(kwargs))

In [31]:
#should not be passed as dic though kwargs type is dictionary
print1(d={'a':2,'b':3})

d {'a': 2, 'b': 3}
<class 'dict'>

In [21]:
print1(a=1,b=2)

a 1
b 2
<class 'dict'>

#order of passing the parameters if needed to use both args and kwargs

*positional arguments
*variable-length positional arguments
*keyword arguments
*variable-length keyword arguments

In [22]:
def print2(i,j,*args,x,y,**kwargs):
    print(i,j)
    for val in args:
        print(val)
    print(x,y)
    for name,val in kwargs.items():
        print(name,val)

In [32]:
#without passing args and kwargs
print2(10,11,x=12,y=10)

TypeError: print2() missing 1 required keyword-only argument: 'y'

In [24]:
print2(10,11,12,13)

TypeError: print2() missing 2 required keyword-only arguments: 'x' and 'y'

In [25]:
print2(x=10,y=11,12,13)

SyntaxError: positional argument follows keyword argument (3064704566.py, line 1)

In [26]:
print2(10,11,x=12,y=13,15,16,17,a=18,b=19,c=20)

SyntaxError: positional argument follows keyword argument (2300676956.py, line 1)

In [29]:
print2(10,11,12,13,14,x=15,y=16,z=17,dic={'a':18,'b':19})

10 11
12
13
14
15 16
z 17
dic {'a': 18, 'b': 19}

In [38]:
def mme1(x,z,y=10):
    print(x,y,z)
mme1(10,z=49)

10 10 49

In [45]:
dict={'a':1,'b':2}
print(*dict) # gives key

a b

In [54]:
def d(a,b):
    print(a,b)
dict={'a':1,'b':2}
d(**dict)
#keynames should be same as the parameters

1 2

In [65]:
def d():
    print("a")
    def df():
        print("b")
    def de():
        print("c")
a=d()

a

In [66]:
import math
print(math.pi)

3.141592653589793