### <center> 21-June-2023 Lambda Functions

In [1]:
x=lambda a:a+10

In [2]:
x(5)

15

##difference btw lambda and functions defined using def keyword
## filter() is a false value but it returns values whih are true

In [1]:
#lambda with filter

list1=[1,2,3,4,5,6,7,8,9,0]

a=list(filter(lambda x:x%2==0 , list1))
print(a)

[2, 4, 6, 8, 0]

In [4]:
#lambda with map

b=list(map(lambda x:x**2,list1))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [28]:
#lambda with list comprehension

squares=[lambda n:n**2 for n in range(1,3)]

In [29]:
print(squares)

[<function <listcomp>.<lambda> at 0x000002CA7288E8C0>, <function <listcomp>.<lambda> at 0x000002CA7288C5E0>]

In [30]:
for i in squares:
    print(i())

TypeError: <listcomp>.<lambda>() missing 1 required positional argument: 'n'

In [12]:
for i in squares:
    print(i(),end=' ')

1 4 9 16 25 36 49 64 81

In [17]:
squares =(lambda list1:[n**2 for n in list1])([1,2,3,4,5])

In [18]:
squares

[1, 4, 9, 16, 25]

In [34]:
a=(lambda x:x*x for x in range(1,10))
print(b)

TypeError: 'generator' object is not callable

In [35]:
mylist=[[1,3,4,5],[4,8,9,10],[15,16,11,12]]

In [54]:
sortedlist=lambda num:(sorted(n) for n in num)

tLargest=lambda num,func:[l[len(l)-2] for l in func(num)]

In [55]:
result=tLargest(mylist,sortedlist)

In [56]:
for i in sortedlist(mylist):
    print(i)

[1, 3, 4, 5]
[4, 8, 9, 10]
[11, 12, 15, 16]

In [57]:
print(result)

[4, 9, 15]

# Recursion function

In [58]:
def refact(n):
    if n==0:
        return 1 
    else:
        p=n*refact(n-1)
        return p

In [59]:
#Creating a higher order function using function as object

def spell(text):
    return text.upper()
text='cdgyjukioikujytrfertyt'

spell2=spell
print(spell2(text))

CDGYJUKIOIKUJYTRFERTYT

In [61]:
#Creating a higher order function using function as parameters

def spell1(text):
    return text.lower()

def spell2(text):
    return text.upper()
def spell3(func,a):
    return func(a)

print(spell3(spell2,'function as parameter'))

FUNCTION AS PARAMETER

In [62]:
#returning a function as a result in higher order function

def adding(a):
    def addition(b):
        return a+b
    return addition

In [63]:
result=adding(int(input()))
result1=result(int(input()))

3
5

In [64]:
print(result1)

8

# <center> 22-June-2023

In [1]:
# Creating a dictionary

dictionary1={}
dictionary2=dict()

In [2]:
# Creating dict from list

dictionary3=dict([('key','value'),('name','sunny')])
print(dictionary3)

{'key': 'value', 'name': 'sunny'}

In [3]:
#Adding set of values using single key

dictionary3[0]='S','A'
dictionary3[1]='Des','thr','prev','len' #these are taken as tuples

In [4]:
dictionary3

{'key': 'value',
 'name': 'sunny',
 0: ('S', 'A'),
 1: ('Des', 'thr', 'prev', 'len')}

In [5]:
#creating dict using user input

dictionary4={}
a,b=input().split()
c,d=input().split()
dictionary4[a]=b
dictionary4[c]=d

key1 value1
key2 value2

In [6]:
dictionary4

{'key1': 'value1', 'key2': 'value2'}

In [8]:
#deleting using del keyword

del dictionary4['key2']
dictionary4

{'key1': 'value1'}

In [9]:
dictionary5={}
del dictionary5

In [11]:
#deleting using pop method

dictionary3.pop(0) # it returns the value and delete it from dictionary

('S', 'A')

In [13]:
dictionary3

{'key': 'value', 'name': 'sunny', 1: ('Des', 'thr', 'prev', 'len')}

In [14]:
# delete using popitem() # it mainly pops the last item but it can delete random item even (computer's choice)
                         # returns both key and value , deletes it from dictionary 

dictionary4.popitem()

('key1', 'value1')

In [16]:
dictionary4

{}

In [17]:
# remove items using clear method

dictionary2.clear()

In [18]:
dictionary2

{}

In [19]:
# itertion using loops

d={'Name':'Donald' ,'Age':24,'Salary':1000000,'Designation':'Engineer'}

In [20]:
for i in d:
    print(i)  # returns key

Name
Age
Salary
Designation

In [21]:
for i in d:
    print(d[i])   # returns value

Donald
24
1000000
Engineer

In [22]:
for i in d.values():
    print(i)

Donald
24
1000000
Engineer

In [24]:
for i in d.items():
    print(i)        # both keys and values in tuples

('Name', 'Donald')
('Age', 24)
('Salary', 1000000)
('Designation', 'Engineer')

In [25]:
for i,j in d.items():
    print(i,j)     #prints value seperatedly

Name Donald
Age 24
Salary 1000000
Designation Engineer

In [26]:
# dictionary can have same key names but it will consider only the last value for it , it will override

d={'name':'Sara','name':'sachu'}
print(d)

{'name': 'sachu'}

In [27]:
#any - checks any one key is true
any(d)

True

In [28]:
#all - checks all keys is true 
all(dictionary1)

True

In [29]:
#copy
d={1:'apple',2:'banana'}
dict2=d.copy()

In [30]:
dict2

{1: 'apple', 2: 'banana'}

In [31]:
dict2.get(1)

'apple'

In [32]:
#update takes only dictionary

dict2.update({2:'samsung'})
dict2

{1: 'apple', 2: 'samsung'}

In [33]:
#keys are immutable but in order to change the key use pop 
#order wont be maintained

dict2[3]=dict2.pop(2)

In [34]:
dict2

{1: 'apple', 3: 'samsung'}

In [35]:
#nested dictionary

student={'name':'Mathew','age':20,'grades':{'DS':90,'Dbms':80,'Oops':98}}

In [37]:
student['grades']['DS']

90

In [38]:
student['grades']['OS']=89

In [39]:
student

{'name': 'Mathew',
 'age': 20,
 'grades': {'DS': 90, 'Dbms': 80, 'Oops': 98, 'OS': 89}}

In [40]:
#Iterating over a nested dictionary

for i in student['grades']:
    print(i)

DS
Dbms
Oops
OS

In [43]:
#zip

l1=[1,2,3,4,5]
l2=['a','b','c','d']

print(list(zip(l1,l2)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [45]:
print(dict(zip('1','2')))

{'1': '2'}